@charset "UTF-8";

*{font-family: Arial, Helvetica, sans-serif;
        }

:root{ 
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: #042412;
    }

body{background-color: var(--cor0);
         margin: 0;}

header{background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
        color: white;
        text-shadow: 1px 1px 1px black;
        width: 1321px;
        margin: auto;
        height: 150px;
        text-align: center;
        padding: 10px;}

header h1{margin: 0;
        padding: 15px;
        font-size: 2.5em;}
    
header p{font-size: large;
        margin-top: 25px;}     

nav{background-image: linear-gradient(var(--cor5), var(--cor6));
        width: 1321px;
        margin: auto;
        padding: 10px;}

nav a{text-decoration: none;
        color: var(--cor3);
        border-radius: 5px;
        padding: 5px;
        font-weight: bold;}

nav a:hover{background-color: var(--cor3);
        color: var(--cor5);
        padding: 5px;
        font-weight: bold;}

main{max-width: 1200px;
        margin: auto;
        background-color: white;
        margin-bottom: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.250);}

article{padding: 15px;}

article h1{color: var(--cor5);
        margin-top: 0;
        font-size: 1.6em;
        background-image: linear-gradient(to right, var(--cor2), transparent);
        padding-left: 5px;}

article h2{color: var(--cor5);
        margin-top: 0;
        font-size: 1.6em;
        background-image: linear-gradient(to right, var(--cor2), transparent);
        padding-left: 5px;}

article p{line-height: 25px;
        text-align: justify;
        text-indent: 30px;
        margin-top: 20px;
        margin-bottom: 20px;}

article a{text-decoration: none;
        color: var(--cor6);
        background-color: var(--cor2);
        font-weight: bold;
        padding: 4px;
        border-radius: 2px;}

article a:hover{text-decoration: underline;}

aside{background-color: var(--cor1);
        border-radius: 5px;
        margin: auto;
        text-align: justify;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4250);
        width: 1050px;}

aside h3{background-color: var(--cor5);
        color: white;
        padding: 10px;
        text-shadow: 1px 1px 1px black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 0;}

aside ul{columns: 2;
        margin: 0;
        line-height: 25px;
        margin: 5px;}

aside p {padding: 10px;
        margin: 0;}

#aside2p{padding-bottom: 5px;}

#aside3p{padding-top: 5px;}

#lastp{text-align: center;
        text-indent: 0;
        margin: 0;
        padding-top: 10px;}

strong{color: var(--cor5);}

img{display: block;
        margin: auto;
        min-width: 300px; 
        max-width: 1200px;}

footer{text-align: center;
        background-color: var(--cor5);
        color: white;
        text-shadow: 1px 1px 1px black;}

@media(max-width: 1100px){
        main{width: 900px;
                margin: auto;}
        header{width: 900px;}
        nav{width: 900px;}
        aside{width: 870px;}
}

@media(max-width: 930px){
        main{width: 730px;
                margin: auto;}
        header{width: 730px;
                margin: auto;}
        nav{width: 730px;}
        aside{width: 700px;}
        img{width: 600px;}
}

@media(max-width: 750px){
        main{width: 550px;
                margin: auto;}
        header{width: 600px;
                margin: auto;}
        nav{width: 600px;}
        aside{width: 520px;}
        img{width: 420px;}
}

@media(max-width: 620px){
        main{width: 420px;
                margin: auto;}
        header{width: 561px;
                margin: auto;}
        nav{width: 561px;}
        aside{width: 392px;}
        img{width: 350px;}
}

@media(max-width: 500px){
        main{width: 420px;
                margin: auto;}
        header{width: 475px;
                margin: auto;}
        header p{margin-top: 0;}
        nav{width: 475px;}
        aside{width: 390px;}
        img{width: 350px;}
}

@media(max-width: 350px){
        main{width: 420px;}
        header{width: 420px;
                margin: auto;}
        header p{margin-top: 0;}
        nav{width: 420px;}
        aside{width: 390px;}
        img{width: 350px;}
}




























