@charset "UTF-8";

*{font-family: Arial, Helvetica, sans-serif;}

:root{ 
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: #042412;
    }

body{background-color: var(--cor0);
         margin: 0;}

main{margin: auto;
        width: 1200px;
        background-color: white;
        margin-bottom: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.250);}

header{background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
        color: white;
        text-shadow: 1px 1px 1px black;
        height: 150px;
        text-align: center;
        padding: 10px;}

header h1{margin: 0;
        padding: 15px;
        font-size: 2.5em;}
    
header p{font-size: large;
        margin-top: 25px;}     

nav{background-image: linear-gradient(var(--cor5), var(--cor6));
        padding: 10px;}

nav a{text-decoration: none;
        color: var(--cor3);
        border-radius: 5px;
        padding: 5px;
        font-weight: bold;}

nav a:hover{background-color: var(--cor3);
        color: var(--cor5);
        padding: 5px;
        font-weight: bold;}

article{padding: 15px;}

article h2{color: var(--cor5);
        margin-top: 0;
        font-size: 1.6em;
        background-image: linear-gradient(to right, var(--cor2), transparent);
        padding-left: 5px;}

article p{line-height: 25px;
        text-align: justify;
        text-indent: 30px;}

article a{text-decoration: none;
        color: var(--cor6);
        background-color: var(--cor2);
        font-weight: bold;
        padding: 4px;
        border-radius: 2px;}

strong{color: var(--cor5);}

img{display: block;
        margin: auto;}

aside{background-color: var(--cor2);
        border-radius: 5px;
        margin: auto;
        text-align: justify;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4250);
        width: 1050px;}

aside h3{background-color: var(--cor5);
        color: white;
        padding: 10px;
        text-shadow: 1px 1px 1px black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;}

aside ul{columns: 2;
        margin: 0;
        line-height: 25px;
        text-decoration: none;
        margin: 5px;}

aside p {padding: 10px;
        margin: 0;}

footer{text-align: center;
        background-color: var(--cor5);
        color: white;
        text-shadow: 1px 1px 1px black;}
