@charset "UTF-8";

*{font-family: Arial, Helvetica, sans-serif;
        }

:root{ 
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: #042412;
    }

*{margin: 0;}

body{background-color: var(--cor0);}

        

header{background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
        color: white;
        text-shadow: 1px 1px 1px black;
        width: 100%;
        padding: 3rem 0;}

.header-1{display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: auto;}

header h1{margin-bottom: 1.5rem;
        font-size: 2.5em;}
    
header p{font-size: 1.2em;}     





nav{background-image: linear-gradient(var(--cor5), var(--cor6));
        padding: 0.9rem 0;
        padding-left: 0.7rem;}

.nav-1{display: flex;
        align-items: center;}
        

nav a{text-decoration: none;
        color: var(--cor3);
        border-radius: 5px;
        margin: 0 0.1rem;
        padding: 0.5rem;
        font-weight: bold;}

nav a:hover{background-color: var(--cor3);
        color: var(--cor5);
        margin: 0 0.1rem;
        padding: 0.5rem;
        font-weight: bold;}

@media(max-width: 405px){
        .nav-1{flex-direction: column;}
        nav a{paddng: 0.5rem 0;}}



    
        
main{max-width: 1200px;
        margin: auto;
        background-color: white;
        margin-bottom: 15px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.250);}





article{padding: 15px;}

article h1{color: var(--cor5);
        margin-top: 0;
        font-size: 1.6em;
        background-image: linear-gradient(to right, var(--cor2), transparent);
        padding-left: 5px;}

article h2{color: var(--cor5);
        margin-top: 0;
        font-size: 1.6em;
        background-image: linear-gradient(to right, var(--cor2), transparent);
        padding-left: 5px;}

article p{line-height: 25px;
        text-align: justify;
        text-indent: 30px;
        margin-top: 20px;
        margin-bottom: 20px;}

article a{text-decoration: none;
        color: var(--cor6);
        background-color: var(--cor2);
        font-weight: bold;
        padding: 4px;
        border-radius: 2px;}

article a:hover{text-decoration: underline;}

.imagens{display: flex;
        justify-content: center;}

@media(max-width: 830px){
        .imagens img{width: 100%;}
}



aside{background-color: var(--cor1);
        border-radius: 5px;
        margin: auto;
        text-align: justify;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4250);
        width: 95%;}



aside h3{background-color: var(--cor5);
        color: white;
        padding: 10px;
        text-shadow: 1px 1px 1px black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 0;}

aside ul{columns: 2;
        margin: 0;
        line-height: 25px;
        margin: 5px;}

aside p {padding: 10px;
        margin: 0;}

#aside2p{padding-bottom: 5px;}

#aside3p{padding-top: 5px;}

@media(max-width: 550px){
        aside ul{columns: 1;}
}

#lastp{text-align: center;
        text-indent: 0;
        margin: 0;
        padding-top: 10px;}

strong{color: var(--cor5);}
































